{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Fullstack Sushi</title>
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                {% load static %}
                <img src="{% static 'rolls/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-top">
                Fullstack Sushi
            </a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="container-fluid bg-dark p-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-light text-center fs-5">
                    <p>&copy; {% now 'Y' %} <span class="fst-italic">DJANGO-TEST</span></p>
                    <div class="d-flex flex-column">
                        <a href="{% url 'order' %}" class="mb-2 text-decoration-underline text-light">Ordina</a>
                        <a href="{% url 'contact' %}" class="text-decoration-underline text-light">
                            Contattaci
                        </a>
                    </div>
                </div>
                <div class="my-5 d-flex justify-content-end">
                    <p class="text-light fs-1" href="{% url 'home' %}">
                        <img src="{% static 'rolls/logo.png' %}" alt="" width="100"
                            class="d-inline-block align-top">
                        Fullstack Sushi
                    </p>
                </div>
            </div>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>