{% extends 'rolls/components.html' %}

{% block content %}
<div class="container my-5 text-center" style="max-width:580px">
    <h1>Sushi per Programmatori!</h1>
    <p class="lead">Concediti ora una favolosa pausa ricca di sapore e di carboidrati. E'
        scientificamente provato: i nostri sushi rolls ti aiutano a scrivere un codice più performante
    </p>
    <a href="{% url 'order' %}" class="btn btn-primary">Ordina Subito!</a>
    <a href="{% url 'contact' %}" class="btn btn-secondary">Contattaci</a>
</div>

<div class="container">
    <div class="row">
        {% for roll in rolls %}
        <div class="col-12 col-md-4 mb-4">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{roll.img.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{roll.name}}</h4>
                        <h5 class="card-title">Prezzo: €{{roll.price}}</h5>
                        <a href="{% url 'order-show' roll.pk %}" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}